::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
    background-color: #eef;
    margin: 40px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

#body {
    margin: 0 15px 0 15px;
}

.toolbar {
    margin: 0 15px 15px 15px;
}

p.footer {
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container {
    background-color: #fff;
    margin: 10px;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}

.error {
    font-weight: bold;
    color: #800;
}

.error_message {
    color: #000;
    background-color: #ff9896;
    border: 1px solid #d62728;
    padding: 2px 10px;
}

.success_message {
    color: #000;
    background-color: #98df8a;
    border: 1px solid #2ca02c;
    padding: 2px 10px;
}

#menu-container {
    float: none;
    height: 40px;
}

ul.navigation-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    float:left;
    width:100%;
    border-bottom: 1px solid #D0D0D0;
}

ul.navigation-menu {
    background: transparent;
}

li.navigation-menu-item {
    float: left;
    list-style:none;
}

li.navigation-menu-item:first-child {
    margin-left: 6px;
}

li.navigation-menu-item-right {
    float: right;
    list-style:none;
}

#submenu-container {
    float: none;
    height: 40px;
}

ul.navigation-submenu {
    list-style-type: none;
    margin: 0;
    margin-top: -10px;
    padding: 0;
    font-family: sans-serif;
    float:left;
    width:100%;
    border-bottom: 1px solid #D0D0D0;
}

ul.navigation-submenu {
    background: transparent;
}

li.navigation-submenu-item {
    float: left;
    list-style:none;
}

li.navigation-submenu-item:first-child {
    margin-left: 6px;
}

li.navigation-submenu-item-right {
    float: right;
    list-style:none;
}

a:link.navigation-item, a:visited.navigation-item {
    display: block;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 4px;
    margin: 0px 5px;
    text-decoration: none;
}

a:hover.navigation-item, a:active.navigation-item {
    background-color: #aaaaaa;
}

table.data_table {
    border: 1px;
    width: 100%;
    padding: 5px;
}

table.data_table th {
    border-bottom: 2px solid #4f5155;
    font-size: 19px;
    text-align: left;
    padding: 5px;
}

table.data_table td {
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

table.data_table td.property {
    width: 100px;
}

table.data_table thead:not(:first-child) tr th {
    padding-top: 30px;
}

.inactivemail {
    text-decoration: line-through;
}

.inactivephone {
    text-decoration: line-through;
}
