/* Sortable tables */
table.sortable thead {
    background-color:#ccc;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    content: "";
    display: table-cell;
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}

table.sortable tbody tr:nth-child(2n) td {
  background: #fff;
}
table.sortable tbody tr:nth-child(2n+1) td {
  background: #eee;
}

table.sortable th.sorttable_sorted span {
    color: #2ca02c;
}

table.sortable th.sorttable_sorted_reverse span {
    color: #2ca02c;
}